#main-nav {
  display: none;
}

#main-nav-m {
  display: block;
}

#burger-con {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  #sticky-nav-con {
    position: sticky;
    top: 0rem;
    background-color: #20232F;
    z-index: 1;
  }
  #main-nav {
    display: block;
    margin-top: 80px;
  }
  #main-nav-m {
    display: none;
  }
  #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #main-nav ul li a {
    display: block;
    padding: 0.625rem 0 0.625rem 0;
    text-align: right;
    color: #626262;
  }
  #main-nav ul li a:hover {
    color: #2BD5D4;
  }
  #main-nav ul li {
    border-bottom: 0.0625rem solid #efefef;
  }
  #main-nav ul li:first-child {
    border-top: 0.0625rem solid #efefef;
  }
  #main-nav ul li:last-child {
    margin-bottom: 0.625rem;
  }
}
.hero {
  background: url(/images//hero_bcg.jpg);
  opacity: 10%;
  background-color: #20232F;
  height: 575px;
  margin: 0 auto;
  width: 100%;
}

.portifolio {
  background-color: #c7c5c5;
  height: 950px;
  margin-top: 0%;
}

#aboutme {
  height: 350px;
}

#contact_about h2 {
  display: inline-block;
}

#footer_test {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 350px;
  margin: 0;
}

#logo {
  max-width: 13rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  #logo {
    visibility: visible;
    max-width: 15rem;
    width: 13rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
#hero {
  height: 200px;
}

#videoreel {
  height: 150px;
}

.box2 {
  background-color: rgb(156, 151, 151);
  color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact_about_port {
  height: 340px;
}

@media screen and (min-width: 768px) {
  #hero {
    height: 450px;
  }
  #videoreel {
    height: 400px;
  }
  #portifolio_content1 {
    height: 350px;
  }
  #portifolio_content2 {
    height: 350px;
  }
  #portifolio_content3 {
    height: 350px;
  }
  #portifolio_content4 {
    height: 350px;
  }
  #contact_me {
    height: 300px;
  }
  #footer_menu {
    height: 150px;
  }
  #case_study_1 {
    height: 400px;
  }
  #p_case_study_content1 {
    height: 350px;
  }
  #p_case_study_content2 {
    height: 350px;
  }
  #p_case_study_content3 {
    height: 350px;
  }
  #p_case_study_content4 {
    height: 350px;
  }
  #info {
    height: 300px;
  }
  #contact_about_port {
    height: 540px;
  }
  #footer_test {
    height: 400px;
  }
}
body {
  background-color: #20232F;
}

#box_a {
  background-color: blue;
}

/* 10. ---Tablet Sized Screens--- */
@media screen and (min-width: 768px) {
  #sticky-nav-con {
    position: sticky;
    top: 0rem;
    background-color: #fff;
    border-bottom: solid 0.0625rem #c3c3c3;
    z-index: 1;
  }
  #button {
    display: none;
  }
  #burger-con {
    display: block;
    font-size: 0.75rem;
  }
  #burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
  }
  #main-nav ul li a {
    display: inline;
  }
  #burger-con ul li {
    margin-right: 0.625rem;
  }
  #burger-con ul li:last-child {
    margin-right: 0rem;
  }
  #main-nav {
    border-left: 0.125rem solid #707070;
    padding-left: 1.875rem;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  #main-header {
    height: 6.875rem;
  }
  #main-nav {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1.5625rem;
  }
  #burger-con ul li {
    margin-right: 1.5625rem;
  }
  #burger-con {
    font-size: 1rem;
    margin-top: 1.75rem;
  }
}