#main-nav {
  display: none;
}

#main-nav-m {
  display: block;
}

#button {
  display: none;
}

@media screen and (min-width: 768px) {
  #sticky-nav-con {
    position: sticky;
    top: 0rem;
    background-color: #424242;
    z-index: 1;
  }
  #burger-con {
    font-size: 1.2rem;
    margin-top: 1.75rem;
  }
  #main-nav {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1.5625rem;
  }
  #main-nav-m {
    display: none;
  }
  #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #main-nav ul li a {
    display: inline;
    padding: 0.625rem 0 0.625rem 0;
    text-align: right;
    color: #626262;
  }
  #main-nav ul li a:hover {
    color: #70fdfd;
  }
  #main-nav ul li {
    border-bottom: 0.0625rem solid #efefef;
    margin-right: 0.625rem;
  }
  #main-nav ul li:first-child {
    border-top: 0.0625rem solid #efefef;
  }
  #main-nav ul li:last-child {
    margin-bottom: 0.625rem;
  }
  #burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
  }
  #burger-con ul li:last-child {
    margin-right: 0rem;
  }
}
#aboutme {
  height: 350px;
}

#contact_about h2 {
  display: inline-block;
}

#footer_test {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 350px;
  margin: 0;
}

.hero {
  background: url(/images//hero_bcg.jpg);
  opacity: 10%;
  background-color: #20232F;
  height: 575px;
  margin: 0 auto;
  width: 100%;
}

.portifolio {
  background-color: #c7c5c5;
  height: 950px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  .portifolio {
    background-color: #c7c5c5;
    height: 950px;
    margin-top: 0%;
  }
}
#logo {
  max-width: 13rem;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  #logo {
    visibility: visible;
    max-width: 15rem;
    width: 13rem;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
  }
}
#hero {
  height: 200px;
}

#videoreel {
  height: 150px;
}

.box2 {
  background-color: rgb(156, 151, 151);
  color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact_about_port {
  height: 340px;
}

@media screen and (min-width: 768px) {
  #hero {
    height: 450px;
  }
  #videoreel {
    height: 400px;
  }
  #portifolio_content1 {
    height: 350px;
  }
  #portifolio_content2 {
    height: 350px;
  }
  #portifolio_content3 {
    height: 350px;
  }
  #portifolio_content4 {
    height: 350px;
  }
  #contact_me {
    height: 300px;
  }
  #footer_menu {
    height: 150px;
  }
  #case_study_1 {
    height: 400px;
  }
  #p_case_study_content1 {
    height: 350px;
  }
  #p_case_study_content2 {
    height: 350px;
  }
  #p_case_study_content3 {
    height: 350px;
  }
  #p_case_study_content4 {
    height: 350px;
  }
  #info {
    height: 300px;
  }
  #contact_about_port {
    height: 540px;
  }
  #footer_test {
    height: 400px;
  }
}
#earb_noise {
  background-color: #c7c5c5;
  height: 550px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #earb_noise {
    background-color: #c7c5c5;
    height: 650px;
    margin-top: 0%;
  }
}
#before_after {
  background-color: #c7c5c5;
  height: 350px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #before_after {
    background-color: #c7c5c5;
    height: 450px;
    margin-top: 0%;
  }
}
#outerShell {
  display: none;
}

@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    max-width: 1200px;
    border: solid 1px #666;
    display: block;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 675px;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 675px;
  }
  .image-right {
    background: url(../images/earbud-x-ray.png) no-repeat;
    background-size: 80%;
    background-position: center center;
    background-attachment: fixed;
  }
  .image-left {
    background: url(../images/earbud.png) no-repeat;
    background-size: 80%;
    background-position: center center;
    width: 50%;
    background-attachment: fixed;
  }
  .image-drag {
    background-color: #07f178;
    left: 50%;
    width: 10px;
    cursor: pointer;
  }
}
#prod_configurator {
  background-color: #efeeee;
  height: 350px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #prod_configurator {
    background-color: #dddddd;
    height: 450px;
    margin-top: 0%;
  }
}
#battery {
  background-color: #e8e8e8;
  height: 550px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #battery {
    background-color: #e8e8e8;
    height: 550px;
    margin-top: 0%;
  }
}
#call_toact {
  background-color: #c7c5c5;
  height: 300px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #call_toact {
    background-color: #c7c5c5;
    height: 400px;
    margin-top: 0%;
  }
}
#anim_trigger {
  background-color: #f8f8f8;
  height: 325px;
  margin-top: 0%;
}

@media screen and (min-width: 768px) {
  #anim_trigger {
    background-color: #ededed;
    height: 425px;
    margin-top: 0%;
  }
}
body {
  background-color: #424242;
}

#box_a {
  background-color: blue;
}/*# sourceMappingURL=main.css.map */