#battery_info{
    display: none;

}

#battery_info-m{
    background-color: #C2C2C2;
}

#battery-m{
    max-height: 650px;
}

@media screen and (min-width: 768px) {

    #battery_info-m{
        display: none;
    }

    #battery_info{
        display: flex;
        background-color: #C2C2C2;
    
    }

    #battery {
        // background-color: #C2C2C2;
        height: 650px;
        margin-top: 0%;
    } 


    

}




 
