#aboutme
{
    height: 350px;
}

#contact_about  h2{
    display: inline-block;

}

#footer_test{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 350px;
    margin: 0;
  }
  

