@use '../abstracts' as a;


#copyright-text {
    font-size: 14px;
    color: #ececec;
  line-height: 1;
  margin: 0;
    
}


#footgrid{
    background-color: #039d6f;
}



@media screen and (min-width: 768px) {

    #copyright-text {
        font-size: 12px;
        
    }



}