@use '../abstracts' as ab;

//that defines the background of the whole section, not limited to only inside the grid, it expands out of bondaries
   #header-body{
      background-color: ab.$secondary-color;    
   }


   #main-header {
      position:relative;
      top: 0rem;
      background-color: ab.$secondary-color;
      z-index: 1;
   }

   #main-nav {
       display: none;
    }

 @media screen and (min-width: 768px) {

   #burger-nav {
      display: none;
       }

       #main-nav {
         background-color: transparent;
         display: block;
         padding: 0;
         text-align: left;
         margin-top: 1.75rem;

      }

    #main-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
     }
     

     #main-nav li{
      display:inline;
      }

     #main-nav ul li a {
      font-size: 22px;
      color: #ececec;
      text-decoration: none;
      margin-right: 0.625rem;
      }
     
     #main-nav ul li a:hover {
        color: ab.$primary-color;
      }
      
  
    }


    @media screen and (min-width: 1200px) {

      #main-nav {
         margin-top: 2.5rem;

      }

      #main-nav ul li a {
         font-size: 25px;
          }

 
    }
