@use '../abstracts' as ab;

    #main-nav {
       display: none;
    }

    #main-nav-m {
        display: block;
     }



    #button {
      display: none;
   }

   #sticky-nav-con {
      position:relative;
      top: 0rem;
      background-color: ab.$secondary-color;
      z-index: 1;
   }
   

 @media screen and (min-width: 768px) {

   #sticky-nav-con {
      position:relative;
      top: 0rem;
      background-color: ab.$secondary-color;
      z-index: 1;
   }


   #burger-con {
      font-size: 1.2rem;
      margin-top: 1.75rem;
   }




      #main-nav {
      display: block;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 1.5625rem;
   }





     #main-nav-m {
        display: none;
     }


    #main-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
     }
     

     #main-nav ul li a {
      font-size: 1.30rem;
      display: inline;
      padding: 0.625rem 0 0.625rem 0;
      text-align: right;
      color: #ececec;
      text-decoration: none;
  }
     
     #main-nav ul li a:hover {
        color: ab.$primary-color;
     }
     
     #main-nav ul li {
        margin-right: 0.625rem;
     }



     
     #main-nav ul li:first-child {
        border-top: 0.0625rem solid #efefef;
     }
     
     #main-nav ul li:last-child {
        margin-bottom: 0.625rem;
     }


     #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #burger-con ul li:last-child {
      margin-right: 0rem;
   }
    
  
    }


    @media screen and (min-width: 1200px) {


      #main-nav ul li a {
         font-size: 1.65rem;
         display: inline;
         padding: 0.625rem 0 0.625rem 0;
         text-align: right;
         color: #ececec;
         text-decoration: none;
     }
 
    }
