@use '../abstracts' as ab;


#logo {
    max-width: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
 }


@media screen and (min-width: 768px) {

    #logo {
        visibility: visible;
        max-width: 22rem;
        width: 18rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
     }

    }


 @media screen and (min-width: 1200px) {

        #logo {
            visibility: visible;
            max-width: 25rem;
            width: 22rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
    
        }
