@use '../abstracts' as ab;


#textcandy, #textlls, #textsku {
  color: aqua;

}


#skullhead {
  background-color: aqua;
}


#logo {
    max-width: 13rem;
      margin-top: 1.75rem;
    margin-bottom: 1rem;
    color: aqua;



 }


@media screen and (min-width: 768px) {

    #logo {
        visibility: visible;
        max-width: 15rem;
        width: 13rem;
        margin-top: 1.75rem;
        margin-bottom: 1rem;
     }

    }


    @media screen and (min-width: 1200px) {


    }
