#battery {

    background-color: #e8e8e8;
    height: 550px;
    margin-top: 0%;
} 


@media screen and (min-width: 768px) {

    #battery {

        background-color: #e8e8e8;
        height: 550px;
        margin-top: 0%;
    } 
    

}

