#anim_trigger {

    background-color: #f8f8f8;
    height: 325px;
    margin-top: 0%;
} 


@media screen and (min-width: 768px) {

    #anim_trigger {

        background-color: #ededed;
        height: 425px;
        margin-top: 0%;
    } 
    

}



#explode-view {
    max-width: 100%;
    /* width: 100vw; */
  }