#before_after {

    background-color: #c7c5c5;
    height: 350px;
    margin-top: 0%;
    // display: none;
} 


@media screen and (min-width: 768px) {

    #before_after {
        // display: none;
        background-color: #c7c5c5;
        height: 450px;
        margin-top: 0%;
    } 
    

}
