#before_after {

    background-color: #c7c5c5;
    height: 350px;
    margin-top: 0%;
    // display: none;
} 


@media screen and (min-width: 768px) {

    #before_after {
        // display: none;
        background-color: #c7c5c5;
        height: 450px;
        margin-top: 0%;
    } 
    

}




#outerShell {
    display: none;
}


@media screen and (min-width: 1200px) {

    #mobile-tablet-view {
        display: none;
    }



    #outerShell {
        max-width: 1200px;
        border: solid 1px #666;
        display: block;
    }
    
    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 675px;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 675px;
    }
    
    .image-right {
        background: url(../images/earbud-x-ray.png) no-repeat;
        background-size: 80%;
        background-position: center center;
        background-attachment: fixed;
    }
    
    .image-left {
        background: url(../images/earbud.png) no-repeat;
        background-size: 80%;
        background-position: center center;
        width: 50%;
        background-attachment: fixed;
    }
    
    .image-drag {
        background-color: #07f178;
        left: 50%;
        width: 10px;
        cursor: pointer;
    }
    
}

