#before_after {

    background-color: #c7c5c5;
    height: 350px;
    margin-top: 0%;
    // display: none;
} 


@media screen and (min-width: 768px) {

    #before_after {
        // display: none;
        background-color: #c7c5c5;
        height: 450px;
        margin-top: 0%;
    } 
    

}


#outerShell {
    display: none;
}


@media screen and (min-width: 1200px) {

    #mobile-tablet-view {
        display: none;
    }


    #outerShell {
        max-width: 1200px;
        // border: solid 1px #666;
        display: block;
    }
    
    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 675px;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 675px;
    }
    
    .image-right {
        background: url(../images/earbud-x-ray.png) no-repeat;
        background-size: 1200px 675px;

    }
    
    .image-left {
        background: url(../images/earbud.png) no-repeat;
        background-size: 1200px 675px;
        width: 50%;

    }
    
  
    .image-drag {
        height: 40px;
        width: 40px;
        background: url("/images/slider-icon.svg") no-repeat;
        color: aqua;
        border: 3px solid #ffffff;
        border-radius: 30%;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



}


